.card12{
    padding: 30px 1%;
    text-align: center;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    position: relative; 
    float: left;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);
    display: grid;
    width: 25%;
}
.card12 i{
    color: #ff8100 !important;
    float: left;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle; 
    border: 4px solid #f3f3f3;
    border-radius: 100%;
    margin-left: 73px;
}
.card12 h1{
    font-weight: 400;
    margin: 10px;
    font-size: 20px;

}
.card12:hover {
    background-color: #f0f0f0;
}
.card12 p{
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px;
}