.back-image{
    background-image: url(../components/image/testimonials_section_bg.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;
}
.margin{
    margin-top: 60px !important;
}
.client{
    text-align: center;
    padding-top: 70px;
}
.client h2{
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
.client span{
    text-align: center;
    font-size: 22px;
    color: #ffa131 !important;
    font-family: Poppins, Sans-serif;
    position: relative;
}
.client span::before {
    content: '';
    position: absolute;
    border: solid #fe8f8c;
    border-width: 6px 0 0;
    clear: both;
    margin: 30px auto 20px !important;
    height: 0;
    max-width: 150px;
    left: 0;
    right: 0;
    top: 33px;
}
.align-center{
    text-align: center;
    padding: 10px;
}
.align-center img{
    margin: auto;
}
.align-center .experience{
    color: #fff;
    font-family: system-ui;
    margin-top: 10px;
    line-height: 2;
    padding: 0 13px;
    font-size: 15px; 
    text-align: center;   
}
.box-no{
    width: 23%;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 7px #ddd;
    border-radius: 10px;
    background: #000;

}
iframe{
    width: 100%;
    height: 400px;
}
.container2{
    width: 85%;
    margin: 0 auto;
}
.mabt {
    padding-bottom: 50px;
    padding-top: 85px;
}
.wi-box{
    width: 32.33%;
    padding: 20px;
    border: 2px solid #5247ff;
    border-radius: 12px;
    transition: .3s;
    box-shadow: 6px 6px 6px #5247ff;
    color: #000;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 150px;
}
.wi-box span{
    font-weight: 600;
}
.john{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 1;
    margin-top: 14px;
}
.wi-box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../components/image/service-pattern.png\ \(2\).webp);
    width: 70%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.back-image .slick-prev:before,
.back-image .slick-next:before {
   display:none;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    border: 1px solid #fff !important;
    border-radius: 50% !important;
 }
 .slick-dots li button:before {
    font-family: 'slick';
    font-size: 12px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1 !important;
    color: white !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: #fff !important;
    font-size: 12px !important;
    z-index: 999 !important;
}

.wi-box:hover {
    color: #fff;
    box-shadow: rgba(255, 255, 255, 0) 0 0 0 2000px inset;
    background-color: transparent;
    background-image: linear-gradient(100deg, #7474bf 0, #348ac7 100%);
}
.box-mar{
    margin-top: 100px;
    margin-bottom: 100px;
}
.uniqe,.slick-prev {
    left: 0px !important;
}
.uniqe,.slick-next {
    right: 0px !important;
}
.elementor-heading{
    color: #2E2D2D;
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 44px;
    letter-spacing: -2px;
}
.projects{
    font-size: 15px;
    color: #000;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 14px;
    padding: 7px 46px;
    font-family: "Poppins", Sans-serif;
}
.viewhere{
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    fill: #E45C16;
    color: #252734;
    background-color: #FFFFFF00;
    padding: 10px 8px;
    border: 1px solid #252734;
}
.viewhere:hover{
    color: #130d0b;
}
.our-portfolio{
    text-align: center;
    padding: 0 132px;
    margin: 20px 0px;
}
@media only screen and (max-width: 600px){
    .box-no {
        width: 100%;
        border: 1px solid #ddd;
        padding: 10px;
        box-shadow: 0 0 7px #ddd;
        border-radius: 10px;
        background: #000;
        margin-bottom: 15px;
    }
    .align-center p {
        color: #fff;
        font-family: system-ui;
        margin-top: 10px;
        line-height: 2;
        padding: 0 13px;
        font-size: 10px;
    }
    .wi-box {
        width: 100%;
        padding: 20px;
        border: 2px solid #5247ff;
        border-radius: 12px;
        transition: .3s;
        box-shadow: 6px 6px 6px #5247ff;
        color: #000;
        text-align: center;
        position: relative;
        overflow: hidden;
        height: 150px;
    }
    .box-mar {
        margin-top: 37px;
        margin-bottom: 37px;
    }
    .ch-box {
        width: 47% !important;
        border-radius: 5px;
        box-shadow: 0 0 12px #ddd;
        padding: 27px 19px;
        text-align: center;
        background: #fff;
        border: 1px solid #5247ff;
        margin: 0 0 10px 0px;
        color: #000;
    }
    .client {
        text-align: center;
        padding-top: 40px;
    }
    .mabt {
        padding-bottom: 42px;
        padding-top: 73px;
    }
    .container2{
        width: 85% !important;
        margin: 0 auto !important;
        display: block !important;
    }
    .our-portfolio {
        line-height: 65px;
        font-size: 26px;
        font-weight: 600;
        letter-spacing: -.05em;
        text-align: center;
        position: relative;
        color: #ccc;
        margin: 50px 0px;
    }
    .align-center .experience{
        color: #fff;
        font-family: system-ui;
        margin-top: 10px;
        line-height: 2;
        padding: 0 13px;
        font-size: 15px; 
        text-align: center;   
    }
}
